.navbar {
  background-color: #0a0f0d !important;
}

.nav-link {
  font-family: 'JetBrains Mono', monospace;
}

.nav-link:hover {
  background-color: #00ffe1;
  color: black !important;
  border-radius: 4px;
}
